[Unit]
Description=JSDB Daemon
After=network.target

[Service]
Type=forking
User=alan
WorkingDirectory=/home/alan/dev/jsdbd
Environment=NODE_ENV=production
ExecStart=/usr/local/bin/node dist/jsdbd start
ExecStop=/usr/local/bin/node dist/jsdbd stop

[Install]
WantedBy=multi-user.target
